{% extends "base.html" %}
{% block meta %}
<title>Profile Widget</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta %}

{% block content %}
<div class="container mt-4">
    <h2>Profil: {{ profil.name }}</h2>

    {% if user.is_staff %}
    <button class="btn btn-primary" id="addWidgetBtn" data-content-type="{{content_type}}" data-object-id="{{object_id}}">+ Add Widget</button>
    {% endif %}

    <div class="row mt-4" id="widgetContainer">
        {% for widget in widgets %}
        <div class="col-md-4 mb-3" id="widget-{{widget.id}}">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{widget.title|default:"No Title"}}</h5>
                    <p class="card-text">{{widget.content|default:"No Content"}}</p>

                    {% if widget.widget_types == 'chart' %}
                        <div id="chart-container-{{widget.id}}"></div>
                    {% else %}
                        <p>{{ widget.konfigurasi }}</p>
                    {% endif %}

                    {% if user.is_staff %}
                    <button class="btn btn-warning btn-sm update-widget" data-id="{{widget.id}}">Edit</button>
                    <button class="btn btn-danger btn-sm delete-widget" data-id="{{widget.id}}">Delete</button>
                    {% endif }
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-muted">There's no widget yet.</p>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="widgetModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create or Edit Widget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalContent">

            </div>
        </div>
    </div>
</div>


<script>
    // create widget
    $(document).ready(function(){
        $("#addWidgetBtn").click(function(){
            let contentType = $(this).data("content-type");
            let objectId = $(this).data("object-id");

            $("#modalContent").load(
                `/profile/widget/create/${contentType}/${objectId}`, function(){
                    $("#widgetModal").modal("show");
                }
            )

        });

        // save create
        $(document).on('submit', '#widgetForm', function(e){
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                method: "POST",
                data: $(this).serialize(),
                success: function(res){
                    if(res.status === 'success'){
                        Swal.fire("Success!", "Widget Saved!", "Success!").then(() =>{
                            location.reload();
                        });
                    }
                },
                error: function(){
                    Swal.fire("Error!", "Failed to save widget!");
                }
            });
        });

        // edit widget
        $(document).on('click', '.update-widget', function(){
            let widgetId = $(this).data("id");
            $("#modalContent").load(`/widget/${widgetId}/update/`, function(){
                $("#widgetModal").modal("show");
            });
        });

        // delete widget
        $(document).on('click', '.delete-widget',function(){
            let widgetId = $(this).data("id");
            Swal.fire({
                title: "Are you sure?",
                text: "This widget will be deletede permanently!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete!",
                cancelButtontext: "Cancel"
            }).then((result) =>{
                if(result.isConfirmed){
                    $.post(
                        `/widget/${widgetId}/delete/`,
                        {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                        function(res){
                            if(res.status === "success"){
                                $(`#widget-${widgetId}`).remove();
                                Swal.fire("Deleted!", "Widget has been removed.", "success");
                            }
                        }
                    );
                }
            });
        });
    });
</script>
{% endblock %}