{% extends 'base.html' %} 
{% block content %}

<!-- Wrapper untuk memberi jarak dari navbar fixed -->
<div class="container pt-20">
  <ul class="list-group">
    {% for club in clubs %}
    <li class="list-group-item d-flex justify-content-between items-center">
      <a href="{% url 'clubs:club_detail' club.pk %}">
        {{ club.nama }} ({{ club.negara }})
      </a>
      <div class="space-x-2">
        <a href="{% url 'clubs:club_update' club.pk %}" class="btn btn-sm btn-info">
          Edit
        </a>
        <a href="{% url 'clubs:club_delete' club.pk %}" class="btn btn-sm btn-danger">
          Hapus
        </a>
      </div>
    </li>
    {% empty %}
    <li class="list-group-item text-2xl">Belum ada klub terdaftar.</li>
    <a href="{% url 'clubs:club_create' %}">Add Club</a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
